@import 'https://fonts.googleapis.com/css?family=Fredericka+the+Great';
@import 'https://fonts.googleapis.com/css?family=Crimson+Text';

html, body, header, div, h1, h2, h3, h4, form, ul, li, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: content-box;
  display: block;
  background-color: inherit;
  font-size: 1rem;
  font-family: inherit;
  -webkit-appearance: none;
}


.loading{
   width:100px;
   height:100px;
   margin:30px auto;
   position:relative;
}

.loading.bar div{
  width: 10px;
  height: 30px;
  background: black;
  position: absolute;
  top: 35px;
  left: 45px;
  opacity:0.05;
  -webkit-animation: fadeit 1.1s linear infinite;
  -moz-animation: fadeit 1.1s linear infinite;
  animation: fadeit 1.1s linear infinite;

  div:nth-child(1) {
    -webkit-transform: rotate(0deg) translate(0, -30px);
    -moz-transform: rotate(0deg) translate(0, -30px);
    transform: rotate(0deg) translate(0, -30px);
    -webkit-animation-delay:0.39s;
    -moz-animation-delay:0.39s;
    animation-delay:0.39s;
  }

  div:nth-child(2) {
    -webkit-transform: rotate(45deg) translate(0, -30px);
    -moz-transform: rotate(45deg) translate(0, -30px);
    transform: rotate(45deg) translate(0, -30px);
    -webkit-animation-delay:0.52s;
    -moz-animation-delay:0.52s;
    animation-delay:0.52s;
  }

  div:nth-child(3) {
    -webkit-transform: rotate(90deg) translate(0, -30px);
    -moz-transform: rotate(90deg) translate(0, -30px);
    transform: rotate(90deg) translate(0, -30px);
    -webkit-animation-delay:0.65s;
    -moz-animation-delay:0.65s;
    animation-delay:0.65s;
  }

  div:nth-child(4) {
    -webkit-transform: rotate(135deg) translate(0, -30px);
    -moz-transform: rotate(135deg) translate(0, -30px);
    transform: rotate(135deg) translate(0, -30px);
    -webkit-animation-delay:0.78s;
    -moz-animation-delay:0.78s;
    animation-delay:0.78s;
  }

  div:nth-child(5) {
    -webkit-transform: rotate(180deg) translate(0, -30px);
    -moz-transform: rotate(180deg) translate(0, -30px);
    transform: rotate(180deg) translate(0, -30px);
    -webkit-animation-delay:0.91s;
    -moz-animation-delay:0.91s;
    animation-delay:0.91s;
  }

  div:nth-child(6) {
    -webkit-transform: rotate(225deg) translate(0, -30px);
    -moz-transform: rotate(225deg) translate(0, -30px);
    transform: rotate(225deg) translate(0, -30px);

    -webkit-animation-delay:1.04s;
    -moz-animation-delay:1.04s;
    animation-delay:1.04s;
  }

  div:nth-child(7) {
    -webkit-transform: rotate(270deg) translate(0, -30px);
    -moz-transform: rotate(270deg) translate(0, -30px);
    transform: rotate(270deg) translate(0, -30px);

    -webkit-animation-delay:1.17s;
    -moz-animation-delay:1.17s;
    animation-delay:1.17s;
  }

  div:nth-child(8) {
    -webkit-transform: rotate(315deg) translate(0, -30px);
    -moz-transform: rotate(315deg) translate(0, -30px);
    transform: rotate(315deg) translate(0, -30px);

    -webkit-animation-delay:1.3s;
    -moz-animation-delay:1.3s;
    animation-delay:1.3s;
  }
}

@-webkit-keyframes fadeit{
     0%{
          opacity:1;
     }
     100%{
          opacity:0;
     }
}
@-moz-keyframes fadeit{
     0%{
          opacity:1;
     }
     100%{
          opacity:0;
     }
}
@keyframes fadeit{
     0%{
          opacity:1;
     }
     100%{
          opacity:0;
     }
}

body {
  font-family: 'Crimson Text', serif;
  /*background-image: url("../images/grunge_background.jpg");*/
}

.game {
  border: 5rem solid #000;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  border-image: url("../images/grunge_border.jpg") 1000;
}

canvas {
  background-image: url("../images/ruined_city.jpg");
  display: block;
  height: inherit;
  width: inherit;
  border: 1px solid #000;
}

.frame {
  height: 30rem;
  width: 30rem;
  margin: 0 auto;
  border: 1px solid #000;
}

.page-header {
  margin: 0 auto 2rem auto;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Fredericka the Great', cursive;
  font-size: 4rem;
  margin: 0 auto;
}

.subtitle {
  margin: 0 auto;
}

.score-info {
  display: flex;
  flex-direction: row;
  font-family: 'Fredericka the Great', cursive;
}

.score {
  margin: .1rem .5rem;
}

#player-score {
  flex: 1
}
