@import 'https://fonts.googleapis.com/css?family=Fredericka+the+Great';
@import 'https://fonts.googleapis.com/css?family=Crimson+Text';
/*@import 'fonts/font-awesome-4.6.3/css'*/

html, body, header, div, h1, h2, h3, h4, form, ul, li, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: content-box;
  display: block;
  background-color: inherit;
  font-size: 1rem;
  font-family: inherit;
  -webkit-appearance: none;
}

body {
  font-family: 'Crimson Text', serif;
  /*background-image: url("../images/grunge_background.jpg");*/
}

.game {
  border: 5rem solid #000;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  border-image: url("../images/grunge_border.jpg") 1000;
}

canvas {
  background-image: url("../images/ruined_city.jpg");
  display: block;
  height: inherit;
  width: inherit;
  border: 1px solid #000;
}

.replay {
  display:flex;
  flex-direction: column;
  position: absolute;;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  align-items: center;
  text-align: center;
  justify-content: center;
  font: inherit;
  font-size: 2rem;
  height: 50%;
  width: 50%;
  border: 1px solid #000;
  border-radius: 0.5rem;
  background-image: url("../images/grunge_background.jpg");

  .fa {
    font-size: 3rem;
    margin: auto;
  }
}

#play {
  height: inherit;
  width: inherit;
  border: 1px solid #000;
}

.frame {
  position: relative;
  height: 30rem;
  width: 30rem;
  margin: 0 auto;
  border: 1px solid #000;
}

.page-header {
  margin: 0 auto 2rem auto;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Fredericka the Great', cursive;
  font-size: 4rem;
  margin: 0 auto;
}

.subtitle {
  margin: 0 auto;
}

.logo {
  filter: hue-rotate(90deg);
  -webkit-filter: hue-rotate(90deg);
}

.score-info {
  display: flex;
  flex-direction: row;
  font-family: 'Fredericka the Great', cursive;
}

.score {
  margin: .1rem .5rem;
}

#player-score {
  flex: 1
}
