@import 'https://fonts.googleapis.com/css?family=Fredericka+the+Great';
@import 'https://fonts.googleapis.com/css?family=Crimson+Text';
/*@import 'fonts/font-awesome-4.6.3/css';*/

html, body, header, div, h1, h2, h3, h4, form, ul, li, a, i, button {
  margin: 0;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: content-box;
  display: block;
  background-color: inherit;
  /*font-size: 1rem;
  font-family: inherit;*/
  font: inherit;
  color: inherit;
  list-style: none;
  text-decoration: none;
  -webkit-appearance: none;
}

html {
  height: 100%;
}

body {
  font-family: 'Crimson Text', serif;
  color: #000;
  /*background-image: url("../images/grunge_background.jpg");*/
  text-decoration: inherit;
  background-color: black;
  /*display: flex;*/
  height: inherit;
  min-width: 600px;
}

.game {
  border: 1rem solid #000;
  background-color: #fff;
  border-radius: 2rem;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /*margin:auto;*/
  /*border-image: url("../images/grunge_border.jpg") 1000;*/
}

canvas {
  /*background-image: url("../images/ruined_city.jpg");*/
  display: block;
  height: inherit;
  width: inherit;
  border: 1px solid #000;
}

.replay {
  display:flex;
  flex-direction: column;
  position: absolute;;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  align-items: center;
  text-align: center;
  justify-content: center;
  font: inherit;
  font-size: 2rem;
  padding: 1rem 0;
  height: 30%;
  width: 50%;
  border: 5px solid #000;
  border-radius: 2rem;
  /*background-image: url("../images/grunge_background.jpg");*/
}

.fa {
  font-size: 3rem;
  margin: auto;
}

#play {
  height: 500px;
  width: 500px;
  border: 0.5rem solid #000;
  border-radius: 3rem;
  overflow: hidden;
  position:relative;
}

.frame {
  position: relative;
  height: auto;
  width: auto;
  margin: 0 auto;
  /*border: 1px solid #000;*/
}

.page-header {
  margin: 0 auto 2rem auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page-header .title {
  font-family: 'Fredericka the Great', cursive;
  font-size: 4rem;
  margin: 0 auto;
}

.page-header .subtitle {
  margin: 0 auto;
}

.author-info {
  display: flex;
  /*flex-direction: row;*/
  /*padding-right: 3rem;*/
  justify-content: space-between;
}

.author-info i {
  font-size: 2rem;
}

.author-info li {
  flex-basis: 1;
  margin: auto;
}

.author-info a {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.author-info a .image-border {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.author-info .about {
  /*border: 1px solid black;*/
  border-radius: .5rem;
  padding: .1rem;
  margin: .1rem .2rem;
}

.author-info a:hover {
  background-color: rgba(144, 144, 144, 0.075);
  overflow: hidden;
}

.author-info a {
  border-radius: 50%
}

.author-info i {
    height: 3rem;
    line-height: 3rem;
    width: 3rem;
    margin: auto;
    text-align: center;
}

.author-info img {
  height: 3rem;
  width: auto;
}

.page-header .logo {
  filter: hue-rotate(90deg);
  -webkit-filter: hue-rotate(90deg);
}

.score-info {
  display: flex;
  flex-direction: row;
  margin: 0 3rem;
  font-family: 'Fredericka the Great', cursive;
}

.score {
  margin: .1rem .5rem;
  display: flex;
  flex-direction: row;
}

.score:first-child {
  flex: 1;
}

.rules {
  max-width: 500px;
}

.rules h2 {
  font-size: 2.5rem;
  text-decoration: underline;
  text-align: center;
}

.page-footer {
  height: 5rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: auto;
  margin-left: auto;
}
